#correo {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
  }

  #boton {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
  }
  #titulo {
    text-align: center;
    font-size: x-large;
  }

  